@model IEnumerable<ProyectoPersonal.Models.Cotizador.Maquina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MermaFija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MermaVariable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desarrollo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMaquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MermaFija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MermaVariable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desarrollo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMaquina }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMaquina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMaquina })
        </td>
    </tr>
}

</table>
