@model IEnumerable<ProyectoPersonal.Models.Cotizador.Presupuesto>

@{
    ViewBag.Title = "Index";
}

<style>
   .btnExportacion:hover, .btnExportacion:active  {
        background-color: lightgrey !important;
        color: black !important;
        border-color: grey !important;
    }

    .btnExportacion {
        padding: 6px 12px;
        border: 1px solid transparent;
        color: #333 !important;
        background-color: #fff;
        border-color: #ccc;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        background-image: none;
        min-width: 0px;
        text-decoration: none;
    }

</style>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var miTabla = $('#tblPresupuesto').DataTable({
            "paging": false,
            "searching": true,
            "dom": "t",
            "order":[[0,"desc"]]
        });
        $('#divMensaje').delay(6000).hide(500);
    });

    var AddEditEmployee = function (employeeId) {

        var url = "/Presupuesto/VistaEliminaPresupuesto?id=" + employeeId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        });

    }
    



    //$(function () {
    //    $("#tblPresupuesto .details").click(function () {
    //        var PresuId = $(this).closest("tr").find("td").eq(0).html();
    //        $.ajax({
    //            type: "POST",
    //            url: "/Presupuesto/VistaEliminaPresupuesto",
    //            data: '{Id: "' + PresuId + '" }',
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "html",
    //            success: function (response) {
    //                $('#modal-body').html(response);
    //                $('#modal-container').modal('show');
    //            },
    //            failure: function (response) {
    //                alert(response.responseText);
    //            },
    //            error: function (response) {
    //                alert(response.responseText);
    //            }
    //        });
    //    });
    //});


</script>


@{if (TempData["Alerta"] != null)
            {
                var objectArray = (object[])TempData["Alerta"];
        <div id="divMensaje" class="@objectArray[0] col-xs-12">
            <strong>@objectArray[1]</strong> @objectArray[2]
        </div>
    }
}
@{if (TempData["Alerta2"] != null)
            {
        <div id="divMensaje2" class="alert alert-success col-xs-12">
            @TempData["Alerta2"];
        </div>
    }
}
<div class="dt-buttons btn-group" style="margin: 0;padding: 0;">
    <a class="btn  btn-default btnExportacion" style="border-radius: 4px 0px 0px 4px;"  href="@Url.Action("Create", "Presupuesto")">
        <i class="fa fa-plus-circle"></i> Crear Nuevo
    </a> 
    <a class="btn btn-default btnExportacion" style="border-radius: 0px 4px 4px 0px;" tabindex="0" aria-controls="example" href="#">
        <span>Excel</span>
    </a>
</div>
<div class="row">
    <table id="tblPresupuesto" class="table" style="padding-right: 0px !important;padding-left: 0px !important;">
        <thead>
            <tr>
                <th>
                    N°
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombrePresupuesto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tiraje)
                </th>
                <th>
                    Formato
                </th>
                <th>
                    Int Cant.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interior.Papel.NombrePapel)
                </th>
                <th>
                    Tap Cant.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tapa.Papel.NombrePapel)
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.IdPresupuesto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCatalogo.NombreTipoCatalogo) @Html.DisplayFor(modelItem => item.NombrePresupuesto)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Tiraje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Formato.NombreFormato)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Interior.CantidadPaginas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interior.Papel.NombrePapel) @Html.DisplayFor(modelItem => item.Interior.Papel.Gramaje)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Tapa.CantidadPaginas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tapa.Papel.NombrePapel) @Html.DisplayFor(modelItem => item.Tapa.Papel.Gramaje)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.TotalNetoTotal)
                    </td>
                    <td>
                        @*<a href="@Url.Action("Edit", "Presupuesto", new { id = item.IdPresupuesto })"><span title="Editar" class="fa fa-edit"></span></a> |*@

                        @*@Html.ActionLink("Modificar", "CargaPresupuesto", "Presupuesto", new { id = item.IdPresupuesto, Tipo = 0 }, new { @class = "modal-link" }) |*@
                        <a href="@Url.Action("PDF", "Presupuesto", new { id = item.IdPresupuesto })" target="_blank"><span title="PDF" class="fa fa-file-pdf-o"></span></a>
                        @if (Request.IsAuthenticated && (User.IsInRole("Administrador") || User.IsInRole("SuperUser")))
                        {
                            <span> |</span><a href="@Url.Action("CargaPresupuesto", "Presupuesto", new { id = item.IdPresupuesto, Tipo = 0 })" class="modal-link"><span title="Aprobar" class="fa fa-check"></span></a>
                            <span> | </span><a href="@Url.Action("ReajustePPTO", "Presupuesto", new { id = item.IdPresupuesto })"><span title="Detalle" class="glyphicon glyphicon-th-list"></span></a>
                        }
                        @*@Html.ActionLink("Modificar", "Delete", "Presupuesto", new { id = item.IdDepartamento, Tipo = 0 }, new { @class = "modal-link" }) |*@
                        @*<a href="@Url.Action("VistaEliminaPresupuesto", "Presupuesto", new { id = item.IdPresupuesto })" class="modal-link"><span title="Eliminar" class="fa fa-trash"></span></a>*@
                        <span> | </span><a href="@Url.Action("Editar", "Presupuesto", new { IdP = item.IdPresupuesto })"><span title="Modificar" class="glyphicon glyphicon-edit"></span></a>
                        <span> | </span><a href="@Url.Action("Duplicar", "Presupuesto", new { IdP = item.IdPresupuesto })"><span title="Duplicar" class="glyphicon glyphicon-duplicate"></span></a>
                        | <a  href="javascript:;" onclick="AddEditEmployee(@item.IdPresupuesto)"><span title="Eliminar" class="fa fa-trash"></span></a>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*MODAL ELIMINAR*@
<div class="modal fade" id="myModal1" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Eliminar Presupuesto</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1" >

            </div>


        </div>

    </div>

</div>
    @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content" style="width:50% !important;margin: 30px auto !important;">
            <div class="modal-body">
            </div>
        </div>
    </div>*@
