@model ProyectoPersonal.Models.Cotizador.Interior

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interior</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadPaginas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPaginas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PapelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PapelId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInterior }) |
    @Html.ActionLink("Back to List", "Index")
</p>
