@model IEnumerable<ProyectoPersonal.Models.Cotizador.TipoMoneda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiglasTipoMoneda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipoMoneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiglasTipoMoneda)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoMoneda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoMoneda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoMoneda })
        </td>
    </tr>
}

</table>
