@model ProyectoPersonal.Models.Cotizador.SubProceso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubProceso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doblez.NombreDoblez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doblez.NombreDoblez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proceso.NombreProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proceso.NombreProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMoneda.NombreTipoMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMoneda.NombreTipoMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida.NombreUnidadMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida.NombreUnidadMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSubProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSubProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoFijoSubProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoFijoSubProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoVariableSubProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoVariableSubProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSubProceso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
